# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.so

# Text editor-specific files
.vscode/
.idea/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
*.env

# Git-specific
*.swp
